h1 {
  font-style: italic;
}

input[type="text"] {
  min-width: 400px;
  font-size: 0.8em;
  padding:8px;
  margin:4px;
}

label {
  display: block;
  font-weight: bold;
  color: blue;
  font-size: 1em;
  margin:4px;
}

h1, h3, input, label {
  font-family: verdana;
}

input[type="button"] {
  background-color : rgb(107, 141, 161);
  color: white;
  margin : 4px;
  padding : 8px;
  font-size: 1em;
  border: 1px  solid gray;
  border-radius: 4px;
}